<% provide(:title,"CONTACT") %>

<div class = "center jumbotron">

<% provide(:name, "Contact") %>
<h1> 
	<%= yield (:name) %>
</h1>

<div class = "relative">
	<div class = "absolute">
		<div id = "header">
		<h2>We Are CMPT- 276 Students</h2> 
		<h4>We can be reached using the following emails:</h4>
___________________________________________________________________________________________________________
		</div>
		<div id ="section">
			<h2>rverma@sfu.ca</h2>
			<h2>cyahn@sfu.ca</h2>
			<h2>lza93@sfu.ca</h2>
			<h2>codyc@sfu.ca</h2>
			<h2>minxinz@sfu.ca</h2>
	</div>
	</div>
</div>
</div>